*{
    margin: 0;
    padding: 0;

}
nav{
    background-color: black;
    color: white;

    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 18px;
}
ul{
    display: flex;
    
    justify-content: center;

}
ul li{
    padding: 8px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    color: white;
}
a:hover{
    text-decoration: none;
    color: pink;
    font-size: 30px;
}
.logo{
    font-size: 35px;
    /* width: 40px; */
    padding: 0px;
    /* filter: invert(1); */
}
.acc{
    font-size: 28px;
}
.contaner{
    max-width: 80vw;
    margin: 15px auto;
}
table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
}

h1 , h2,h3{
    padding: 23px;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 25px 0;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid gray;
    cursor: pointer; 
}
.btnd{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 20px 0;
    font-weight: 800;
    border-radius: 50%;
    font-size: 5px;
    cursor: pointer;     

}

@media(max-width:600px){
     /* *{
        overflow-x: hidden;
    }  */
    nav{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-between;
        /* padding: 18px; */
        width: auto;
        /* border: 8px solid pink; */
/*         overflow-x: hidden; */
        
    }
    .logo{
        font-size: 10px;
         
        /* width: 15px; */
        padding-left: 0px;
        padding-bottom: 10px;
        /* filter: invert(1); */
    }
    ul li{
        padding: 2px;
        list-style: none;
        padding-left: 15px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: pink;
        font-size: 20px;
    }
    .logo{
        font-size: 25px;
    }
    .acc{
        font-size: 18px;
    }
    .contaner{
       margin: auto;
       width: 100%;
    }
    table,tr,td,th{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 2px 5px;
        word-wrap: inherit;
        overflow-wrap: break-word;
        max-width: 75px;
        
    }
    
    h1 , h2,h3{
        padding: 15px;
    }
    .btn{
        background-color: black;
        color: white;
        padding: 5px;
        margin: 15px 0;
        font-weight: 800;
        border-radius: 5px;
        border: 2px solid gray;
        cursor: pointer; 
    }
}